name: Lint
on:
  pull_request:
    branches:
      - main
      - development

env:
  NODE_VERSION: 18

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      # - name: Install NodeJS
      #   uses: actions/setup-node@v2
      #   with:
      #    node-version: ${{ env.NODE_VERSION }}
      
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      
      - name: Code Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Code Linting
        run: bun run lint
